<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Blog JBG</title>
  <!-- MDB icon -->
  <link rel="icon" href="./img/log_pp.png" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="css/mdb.min.css" />

  <style>
    .navbar.navbar-expand-lg.bg-dark.navbar-dark {
      align-items: center;
    }

    .navbar {
      background-color: black;
    }
  </style>
</head>

<body clas="bg-dark">

  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">JBG</a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Link -->
          <li class="nav-item">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./upgrade">Upgrade Now</a>
          </li>

          <li class="nav-item">

            <a class="nav-link" href="#"></a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Explore
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#tech">Technologies</a>
              </li>
              <li>
                <a class="dropdown-item" href="#lifestyle">Lifestyle</a>
              </li>
              <li>
                <a class="dropdown-item" href="#travel">Travel</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#contacts">Contact US</a>
              </li>

            </ul>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <form class=" col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>


        </div>
        <div class="text-end">
          <button type="button" class="btn btn-warning"><a style="color:white;" href="/login">Login / Sign
              Up</a></button>
          <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
        </div>


      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  
  <!-- Navbar -->
  <!-- Carousel wrapper -->
  <div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1" aria-label="Slide 1"></button>
      <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2" aria-label="Slide 1"></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="/img/carousel2.jpg" class="d-block w-100" alt="..." width="1600" height="550" />
        <div class="carousel-caption d-none d-md-block">
          <h5>TECHNOLOGY</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img src="/img/carousel1.jpg" class="d-block w-100" alt="..." width="1600" height="550" />
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: blanchedalmond;">TRAVEL</h5>
          <p style="color: blanchedalmond;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img src="/img/carousel3.jpg" class="d-block w-100" alt="..." width="1600" height="550" />
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: blanchedalmond;">LIFESTYLE</h5>
          <p style="color: blanchedalmond;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->

  <!--my edits start-->
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card">
          <img src="/img/blogpic.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">JBG blog</h5>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
              <a href="#">Read more</a>
            </p>

          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row mb-2">
          <div class="card w-75">
            <div class="card-body ">
              <h5 class="card-title">Technology</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
              </p>

            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">Lifestyle</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
              </p>

            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">Travel</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
              </p>

            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">And much more...</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- cards -->
    <br>
    <br>
    <div class="row mb-2" id="tech">
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/tech1.jpg " class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./tech" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/tech3.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./tech" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/tech2.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./tech" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row mb-2" id="lifestyle">
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/lifestyle1.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Lifestyle</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./lifestyle" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/lifetsyle2.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Lifestyle</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./lifestyle" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/lifestyle3.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Lifetsyle</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./lifestyle" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row mb-2" id="travel">
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/travel1.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Travel</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./travel" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/travel3.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Travel</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./travel" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="./img/travel2.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Travel</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, laborum!
            </p>
            <a href="./travel" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>



  </div>

  <br>
  <br>
  <br>
  <!--my edits end -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
            class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
            class="fab fa-github"></i></a>

      </section>
      <!-- Section: Social media -->
    </div>
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="" id="contacts">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Sign up for our newsletter</strong>
                </p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                  <input type="email" id="form5Example2" class="form-control" />
                  <label class="form-label" for="form5Example2">Email address</label>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-warning mb-4">
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->
      </div>
      <!-- Grid container -->


      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:JBG
        <a class="text-white" href="https://mdbootstrap.com/"></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- End your project here-->


    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
</body>

</html>