<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Blog JBG</title>
  <!-- MDB icon -->
  <link rel="icon" href="log_pp.png" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="css/mdb.min.css" />

  <style>
    .navbar.navbar-expand-lg.bg-dark.navbar-dark {
      justify-content: center;
      align-items: center;
    }

    .navbar {
      background-color: black;
    }


    .heading {
      margin: 0 60px;
      padding: 20px 0;
    }
  </style>
</head>

<body>

  <!-- Start your project here-->

  <!-- Navbar -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Logo</a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Link -->
          <li class="nav-item">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./reviews">Reviews</a>
          </li>

          <li class="nav-item">

            <a class="nav-link" href="#"></a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Explore
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="./tech">Technologies</a>
              </li>
              <li>
                <a class="dropdown-item" href="./travel">Travel</a>
              </li>
              <li>
                <a class="dropdown-item" href="./lifestyle">Lifestyle</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Support</a>
              </li>

            </ul>
          </li>

        </ul>
        <div class="d-flex align-items-center">
          <form class=" col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>


        </div>
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>

      </div>
    </div>

  </nav>
  <!--my edits start-->

<br>
<br>
<br>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z">
      </path>
    </symbol>
  </svg>

  <div class="container py-3">


    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Enterprise</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
            </div>
          </div>
        </div>
      </div>

      <h2 class="display-6 text-center mb-4">Compare plans</h2>

      <!-- <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th style="width: 34%;"></th>
              <th style="width: 22%;">Free</th>
              <th style="width: 22%;">Pro</th>
              <th style="width: 22%;">Enterprise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-start">Public</th>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Private</th>
              <td></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <th scope="row" class="text-start">Permissions</th>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Sharing</th>
              <td></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Unlimited members</th>
              <td></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Extra security</th>
              <td></td>
              <td></td>
              <td><svg class="bi" width="24" height="24">
                  <use xlink:href="#check"></use>
                </svg></td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </main>


  </div>







  <!--my edits end -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
            class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
            class="fab fa-github"></i></a>

      </section>
      <!-- Section: Social media -->
    </div>
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Sign up for our newsletter</strong>
                </p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                  <input type="email" id="form5Example2" class="form-control" />
                  <label class="form-label" for="form5Example2">Email address</label>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->
      </div>
      <!-- Grid container -->


      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- End your project here-->


    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
</body>

</html>





<!--  <body>
    
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
          <title>Check</title>
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
        </symbol>
      </svg>
      
      <div class="container py-3">
     
      
        <main>
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
              </div>
            </div>
          </div>
      
          <h2 class="display-6 text-center mb-4">Compare plans</h2>
      
          <div class="table-responsive">
            <table class="table text-center">
              <thead>
                <tr>
                  <th style="width: 34%;"></th>
                  <th style="width: 22%;">Free</th>
                  <th style="width: 22%;">Pro</th>
                  <th style="width: 22%;">Enterprise</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-start">Public</th>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Private</th>
                  <td></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                </tr>
              </tbody>
      
              <tbody>
                <tr>
                  <th scope="row" class="text-start">Permissions</th>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Sharing</th>
                  <td></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Unlimited members</th>
                  <td></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Extra security</th>
                  <td></td>
                  <td></td>
                  <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      
     
      </div>
      
      
          
        
      
      </body> -->