<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <style>
    .navbar.navbar-expand-lg.bg-dark.navbar-dark {
      align-items: center;
    }

    .navbar {
      background-color: black;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid ">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">JBG</a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Link -->
          <li class="nav-item">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./upgrade">Upgrade Now</a>
          </li>

          <li class="nav-item">

            <a class="nav-link" href="#"></a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Explore
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#tech">Technologies</a>
              </li>
              <li>
                <a class="dropdown-item" href="#lifestyle">Lifestyle</a>
              </li>
              <li>
                <a class="dropdown-item" href="#travel">Travel</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#contacts">Contact US</a>
              </li>

            </ul>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <form class=" col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>


        </div>
        <div class="text-end">
          <form action="/logout" method="POST">
          <button type="submit" class="btn btn-warning logout">LOG OUT</button>
          </form>
        </div>


      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <div class="container mt-4">
    <h1 class="mb-1"><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/articles" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

    <div>
      <%- article.sanitizedHtml %>
    </div>
  </div>
</body>
</html>